h1{
    color: rgb(228, 56, 122);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

h2{
    color: rgb(243, 81, 162);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
}

h3{ 
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}

h4{
    color: rgb(0, 0, 0);
    font-family: cursive;
    text-align: left;
}

h5{
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}

h6{
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}

p{
    color: rgb(0, 0, 0);
    font-family: cursive;
}

p{
    font-weight: 800;
}

table{
    font-family: cursive;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}



th{
    font-weight: 800;
    background-color: beige;
    color: bisque;
}

tr.alt td{
    background-color: bisque;
}

ul{
    list-style-type: circle;
}

ol{
    list-style-type: upper-roman;
}

#menu-bar a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: rgb(231, 149, 163);
    padding: 5px;
}

#menu-bar a:hover{
    background-color: rgb(253, 78, 209);
    color: black;
}




